@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&family=Special+Gothic+Expanded+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  color: inherit;
}

/* Global background themes */
body.light-mode {
  background: url(./assets/syncnote_bg.webp);
  height: 100%;
  width: 100%;
  color: black;
  
}

body.dark-mode {
  background: url(./assets/syncnoteDark.webp) ;
 height: 100%;
  width: 100%;
  color: white;
  
}

