
.addBtn {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 7vh 0;

}

.addBtn button {
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  font-weight: 580;
  background-color: orange;
  cursor: pointer;
}

.blankHeading {
  margin-top: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blankHeading h3 {
  font-size: 28px;
  font-weight: 650;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.7px);
  z-index: 99;
}

.dialog {
  text-align: center;
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 90%;
  max-width: 400px;
  color: black;
}

.dialog input,
.dialog textarea {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid gray;
}

.dialog input:focus,
.dialog textarea:focus {
  border: 1px solid orange;
}

.dialogButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.dialog button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.dialog button[type="submit"] {
  background-color: #ff9800;
  color: black;
}

.dialog button[type="button"] {
  background-color: #ccc;
}

.cardRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.noteCard {
  color: black;
  width: 300px;
  padding: 15px;
  background-color: #fdf3f3;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  flex-shrink: 0;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 13px;
}

.timestamp {
  color: #888;
  font-size: 12px;
}

.cardActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.category{
  background-color: #c7c6c6;
  padding: 0px 10px;
  border-radius: 1.2rem;
  
}
.cardActions button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 550px){
  .dialog {
    width: 95%;
  }

  .addBtn button {
    padding: 8px 15px;
  }

  .blankHeading h3 {
    font-size: 24px;
  }
  .noteCard{
    width: 80vw;
  }
}
